/* Common style and utilities */
body{
    background-color: #151515 !important;
    
    margin: 0;
    padding: 0;
}

.input{
    border: 1px solid #2C2C2C; 
    background-color:#151515;
    color: white;
    display: inline-block;
    height: 40px;
    width: 50%;
}


/* header section */
header{
    height: 480px;
    overflow: hidden;
    max-width: 1600px;
    background-color: #0d0d0d;
    margin-bottom: 100px;
}
.headers-1{
    background-image: url(/images/Banner_background.png);
    height: 481px;
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: bottom left -30px;
    display: flex;
    align-items: flex-end;

    
}
.headers-2-h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;

    color: #FF5E19;
    text-align: center;
    
}
.headers-2-p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    
}
.headers-3{
    height: 481px;
    background-image: url('/images/right_banner_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100% auto;
}
.headers-3-img{
  position: absolute; 
  right: 0px;
  bottom: 35%;
}




/* player section starts from here */
 .main{
    display: flex;
    justify-content: space-between;
 }
.player-section{
    
    width: 80%;
    
} 

.player-section img{
    width: 100%;
}



.card{
    background-color: #0D0D0D !important;
    color: white;
}



.budget-calculation{
    width: 18%;
    height: 950px; 
    color: white;
    

}


/* Player list secion */

.player-list{
    height: 400px;
    background-color: #0d0d0d;
    color: white;
    border: 1px solid #2C2C2C;
    padding: 2px;

}
.player-list-hr{
    background-color: gray;
    color: gray;
    fill: grey;
    height: 2px;
    border: none;
   
    align-self: center;
}


.calculator{
    height: 500px;
    background-color: #0d0d0d;
    border: 1px solid #2C2C2C;
    margin-top: 30px;
    padding: 2px;

}


/* Footer section */
.footer-hr{
    height: 1.5px;
    border: none;
    background-color: #717171;
    margin-top: 100px;
}

footer{
    max-width: 1600px;
  
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

}
